<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/bootstrap.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/fontawesome.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/animate.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/Chart.min.css') %%"
    />
    <link
      rel="shortcut icon"
      href="%% url_for('static', filename='img/logo.png') %%"
      type="image/x-icon"
    />
    <script src="%% url_for('static', filename='js/vue.js') %%"></script>
    <title>El Promediador</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row bg-secondary text-white">
          <div class="col-12 text-center">
            <h1 class="font-weight-bold my-3">Dashboard</h1>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="card bg-primary text-white m-2" style="height: 200px;">
              <div
                class="card-body text-center d-flex flex-column justify-content-center"
              >
                <h5 class="card-title">Visitas</h5>
                <h1 class="card-text font-weight-bold">{{visitas}}</h1>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="card bg-danger text-white m-2" style="height: 200px;">
              <div
                class="card-body text-center d-flex flex-column justify-content-center"
              >
                <h5 class="card-title">Consultas</h5>
                <h1 class="card-text font-weight-bold">{{consultas}}</h1>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="card bg-warning text-dark m-2" style="height: 200px;">
              <div
                class="card-body text-center d-flex flex-column justify-content-center"
              >
                <h5 class="card-title">Alumnos</h5>
                <h1 class="card-text font-weight-bold">{{alumnos}}</h1>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="card m-2" style="height: 200px;">
              <div
                class="card-body bg-success text-white text-center d-flex flex-column justify-content-center"
              >
                <h5 class="card-title">Tiempo promedio</h5>
                <h1 class="card-text font-weight-bold">{{tiempoPromedio}}s</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <h5 class="text-center font-weight-bold">
              Número de consultas por carrera
            </h5>
            <canvas class="m-2" id="carreras"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="%% url_for('static', filename='js/jquery-3.4.1.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/popper.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/bootstrap.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/Chart.bundle.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/chartjs-plugin-datalabels.min.js') %%"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          visitas: 0,
          consultas: 0,
          alumnos: 0,
          tiempoPromedio: 0,
          carreras: [],
          conteo: [],
        },
        methods: {
          obtenerEstadisticas() {
            return $.ajax({
              url: "/estadisticas",
              type: "POST",
            });
          },
          createPieCart(chartId, chartData) {
            const ctx = document.getElementById(chartId);
            const mChart = new Chart(ctx, {
              type: chartData.type,
              data: chartData.data,
              options: chartData.options,
              plugins: [ChartDataLabels],
            });
          },
        },
        async created() {
          let data = await this.obtenerEstadisticas();
          if (data.db_error) return;
          this.visitas = data.visitas;
          this.consultas = data.consultas;
          this.alumnos = data.alumnos;
          this.tiempoPromedio = data.tiempo_promedio;
          for (carrera of data.carreras) {
            this.carreras.push(carrera[0]);
            this.conteo.push(carrera[1]);
          }
          chartData = {};
          chartData.type = "horizontalBar";
          chartData.data = {
            datasets: [
              {
                data: this.conteo,
                backgroundColor: [
                  "#00429d",
                  "#194d9d",
                  "#25589c",
                  "#2d639b",
                  "#326e9a",
                  "#36799a",
                  "#398498",
                  "#3b9097",
                  "#3b9b96",
                  "#3aa794",
                ],
              },
            ],
            labels: this.carreras,
          };
          chartData.options = {
            legend: null,
            plugins: {
              datalabels: {
                color: "#ffffff",
              },
            },
            scales: {
              xAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          };
          this.createPieCart("carreras", chartData);
        },
      });
    </script>
  </body>
</html>
