<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/bootstrap.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/sweetalert2.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/fontawesome.min.css') %%"
    />
    <link
      rel="stylesheet"
      href="%% url_for('static', filename='css/animate.min.css') %%"
    />
    <link
      rel="shortcut icon"
      href="%% url_for('static', filename='img/logo.png') %%"
      type="image/x-icon"
    />
    <style>
      @font-face {
        font-family: logo-font;
        src: url(%%url_for("static", filename= "font/Russian.ttf")%%);
      }
    </style>
    <title>El Promediador</title>
  </head>
  <body>
    <div id="app" class="vh-100 d-flex flex-column">
      <nav class="navbar navbar-dark bg-primary">
        <a href="/" class="navbar-brand mx-md-0 mx-auto my-2 my-md-0">
          <img
            src="%% url_for('static', filename='img/logo.png') %%"
            alt="logo"
            width="35px"
          />
        </a>
        <form class="form-inline mr-md-0 mx-auto" autocomplete="off">
          <div class="input-group input-group-sm">
            <input
              type="text"
              class="form-control mr-sm-2 mb-sm-0 mb-2"
              id="codigo"
              placeholder="Código de alumno UPC"
              v-model="codigo"
            />
          </div>
          <div class="input-group input-group-sm">
            <input
              type="password"
              class="form-control mr-sm-2 mb-sm-0 mb-2"
              id="codigo"
              placeholder="Contraseña"
              v-model="contrasena"
            />
          </div>
          <button
            class="btn btn-sm btn-danger mx-sm-0 mx-auto"
            type="submit"
            id="btnObtenerNotas"
            v-on:click="obtenerNotas"
          >
            Obtener notas
          </button>
        </form>
        <button
          class="btn btn-sm btn-warning mx-auto mx-md-0 ml-md-2 mt-2 mt-sm-0"
          v-on:click="mostrarInfo"
        >
          <i class="fas fa-question"></i>
        </button>
      </nav>
      <div v-if="consolidado" class="container">
        <div
          class="row my-4 align-items-center text-light bg-danger p-3 rounded shadow animated zoomIn faster"
        >
          <div class="col-12 col-sm-8 col-lg-10">
            <div class="">
              <h5 class="font-weight-bold" id="nombres">
                {{consolidado.nombre}}
              </h5>
              <h6 class="font-weight-lighter" id="data">
                Carrera: {{consolidado.carrera}}<br />
                Ciclo actual: {{idCicloActual}}<br />
                Promedio acumulado: {{consolidado.promedio}}<br />
                Promedio acumulado actual: {{calcularPromedioAcumuladoActual()}}
              </h6>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center">
            <h6 class="font-weight-lighter my-2">CICLO</h6>
            <div class="input-group input-group-sm">
              <select
                class="custom-select my-2 my-md-0"
                v-model="idCiclo"
                v-on:change="seleccionarCiclo"
              >
                <option v-for="ciclo in ciclos" :value="ciclo"
                  >{{ciclo}}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div
              class="accordion shadow mb-4 animated zoomIn faster"
              id="accordionCursos"
              v-bind:key="idCiclo + 'CURSOS'"
            >
              <div
                class="card"
                v-for="(curso, index) in cicloActual.cursos"
                v-bind:key="idCiclo + curso.codigo"
              >
                <div class="card-header p-1 animated fadeIn">
                  <button
                    class="btn btn-block btn-link text-left"
                    data-toggle="collapse"
                    :data-target="`#collapseCurso${index}`"
                  >
                    {{curso.nombre}}
                  </button>
                </div>
                <div
                  class="collapse"
                  :id="`collapseCurso${index}`"
                  data-parent="#accordionCursos"
                >
                  <div class="card-body p-4">
                    <div class="table-responsive">
                      <table
                        class="table table-sm table-bordered"
                        style="font-size: 70%;"
                      >
                        <thead class="thead-dark">
                          <tr>
                            <th>Tipo</th>
                            <th>Evaluación</th>
                            <th class="text-center">N°</th>
                            <th class="text-center">Peso</th>
                            <th class="text-center">Nota</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="nota in curso.notas">
                            <td>{{nota.tipo}}</td>
                            <td>{{nota.evaluacion}}</td>
                            <td align="center">{{nota.numero}}</td>
                            <td align="center">
                              {{ Math.round(((nota.peso * 100) + Number.EPSILON)
                              * 100) / 100 + '%' }}
                            </td>
                            <td v-if="nota.obs !== 'P'" align="center">
                              {{nota.nota}}
                            </td>
                            <td v-else align="center">
                              <div class="input-group input-group-sm">
                                <input
                                  type="text"
                                  class="form-control mx-auto"
                                  v-model.number="nota.nota"
                                  :class="{'is-invalid': !(nota.nota >= 0 && nota.nota <= 20)}"
                                  style="max-width: 40px; font-size: 90%;"
                                  onclick="this.setSelectionRange(0, this.value.length)"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th colspan="4">Promedio</th>
                            <td align="center" class="font-weight-bold">
                              {{calcularPromedioCurso(curso)}}
                            </td>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div
              class="card shadow mb-4 animated zoomIn faster"
              v-bind:key="idCiclo + 'RESUMEN'"
            >
              <div class="card-body animated fadeIn">
                <h5 class="font-weight-bold text-center">Resumen ciclo</h5>
                <div class="table-responsive">
                  <table
                    class="table table-sm table-bordered"
                    style="font-size: 70%;"
                  >
                    <thead class="bg-primary text-white">
                      <tr>
                        <th>Nombre</th>
                        <th class="text-center">Créditos</th>
                        <th class="text-center">Promedio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="curso in cicloActual.cursos">
                        <td>{{curso.nombre}}</td>
                        <td align="center">{{curso.creditos}}</td>
                        <td align="center">{{curso.promedio}}</td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="2">Promedio ponderado</th>
                        <th align="center" class="text-center">
                          {{calcularPromedioCiclo(cicloActual)}}
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="container">
        <div class="row justify-content-center my-5">
          <div class="col d-flex justify-content-center">
            <div
              class="card border-primary animated zoomIn faster"
              style="max-width: 20em;"
            >
              <div class="card-body text-primary">
                <h5
                  class="card-title text-center"
                  style="font-family: logo-font; font-size: 45px;"
                >
                  El Promediador
                </h5>
                <p class="card-text text-center">
                  Solo necesitas ingresar tu código de usuario UPC y contraseña
                  para obtener tus notas y promediarlas automáticamente.
                  <br />
                  <br />
                  Información de contacto en el botón interrogante amarillo
                  superior
                  <br />
                  <br />
                  <strong
                    >NOTA: Está aplicación sirve como puente a SOCRATES UPC, por
                    lo que aplican las mismas restricciones (máx. 3 intentos
                    fallidos por ejemplo)</strong
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer
        class="d-flex position-relative justify-content-between mt-auto px-4 py-3"
        style="background-color: #e8e8e8; font-size: 90%;"
      >
        <span class="text-muted text-center">Hecho con ❤️ por BicaStudios</span>
        <div class="text-muted text-center">
          íconos hechos por
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          de
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </footer>
    </div>
    <script src="%% url_for('static', filename='js/vue.js') %%"></script>
    <script src="%% url_for('static', filename='js/jquery-3.4.1.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/popper.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/bootstrap.min.js') %%"></script>
    <script src="%% url_for('static', filename='js/sweetalert2.all.min.js') %%"></script>
    <script>
      let codigo = "";
      let contrasena = "";
      let idCiclo = null;
      let idCicloActual = null;
      let consolidado = null;
      let cicloActual = null;
      let ciclos = null;
      var app = new Vue({
        el: "#app",
        data: {
          codigo,
          contrasena,
          consolidado,
          idCiclo,
          idCicloActual,
          cicloActual,
          ciclos,
        },
        methods: {
          obtenerNotas: function (event) {
            event.preventDefault();
            if (!this.codigo || !this.contrasena) {
              swal.fire({
                title: "😑",
                html: `Debes completar los campos de código UPC y contraseña`,
                icon: "error",
              });
              return;
            }
            if (!this.codigo.match(/u.{9}/i)) {
              swal.fire({
                title: "😑",
                html: `Debes utilizar un código UPC válido`,
                icon: "error",
              });
              return;
            }
            let formData = new URLSearchParams();
            formData.append("codigo", this.codigo);
            formData.append("contrasena", this.contrasena);
            $.ajax({
              url: "/notas",
              type: "POST",
              data: formData,
              processData: false,
              beforeSend: () => {
                swal.fire({
                  title: "Por favor, espere...",
                  html: `Extrayendo notas de SOCRATES UPC
                    <br>
                    <br>
                    Esto puede tomar hasta 3 minutos aprox.`,
                  icon: "info",
                  allowOutsideClick: false,
                  allowEnterKey: false,
                  allowEscapeKey: false,
                  showConfirmButton: false,
                  showCancelButton: false,
                });
                swal.showLoading();
              },
            })
              .done(async (data) => {
                if (data.consolidado) {
                  this.consolidado = data.consolidado;
                  this.idCicloActual = this.consolidado.ciclo_actual;
                  this.idCiclo = this.idCicloActual;
                  this.cicloActual = this.consolidado.ciclos.find(
                    (ciclo) => ciclo.id == this.idCiclo
                  );
                  this.ciclos = this.consolidado.ciclos
                    .map((ciclo) => ciclo.id)
                    .reverse();
                  this.calcularPromedioAcumulado();
                  swal.close();
                } else {
                  swal.close();
                  await swal.fire({
                    title: "Oops...",
                    html: `No se pudo acceder ni obtener las notas de SOCRATES UPC
                    <br>
                    <br>
                    Revisa tus datos y la disponibilidad de SOCRATES UPC
                    <br>
                    <br>
                    Agradecería que me notifiques de este error enviando tu codigo UPC y la hora aproximada de tu consulta en un correo a <a href="mailto:edarbieto@gmail.com">edarbieto@gmail.com</a>
                    <br>
                    <br>
                    <strong>NOTA: No olvides que luego de 3 intentos fallidos de acceso a los servicios de la UPC, se bloqueará tu cuenta.
                    No es responsabilidad de esta página, ya que solo es un puente al mismo SOCRATES UPC</strong>`,
                    icon: "error",
                  });
                }
                if (data.db_status === "ERROR") {
                  swal.fire({
                    title: "😂",
                    html: `LOL, no pudimos registrar tu consulta en nuestro historial (esto es ajeno a la obtención de notas y es opcional)
                    <br>
                    <br>
                    Agradecería que me notifiques de esta alerta enviando tu codigo UPC y la hora aproximada de tu consulta en un correo a <a href="mailto:edarbieto@gmail.com">edarbieto@gmail.com</a>`,
                    icon: "warning",
                  });
                }
              })
              .fail((error) => {
                swal.close();
                swal.fire({
                  title: "Sad 😨",
                  html: `Ocurrió un error interno o no pudiste conectar con nuestro servidor
                  <br>
                  <br>
                  Revisa tu conectividad y refresca la página
                  <br>
                  <br>
                  Agradecería que me notifiques de este error enviando tu codigo UPC y la hora aproximada de tu consulta en un correo a <a href="mailto:edarbieto@gmail.com">edarbieto@gmail.com</a>`,
                  icon: "error",
                });
              });
          },
          calcularPromedioCurso: function (curso) {
            if (curso.estado === "RETIRADO") {
              curso.promedio = "RET";
              return "RET";
            }
            promedio = Math.round(
              curso.notas.reduce((acc, val) => acc + val.nota * val.peso, 0)
            );
            if (isNaN(promedio)) {
              promedio = 0;
            }
            curso.promedio = promedio;
            return promedio;
          },
          calcularPromedioCiclo: function (ciclo) {
            cursos = ciclo.cursos.filter(
              (curso) => curso.estado !== "RETIRADO"
            );
            a = cursos.reduce(
              (acc, val) => acc + val.promedio * val.creditos,
              0
            );
            b = cursos.reduce((acc, val) => acc + val.creditos, 0);
            promedio = Math.round((a / b + Number.EPSILON) * 100) / 100;
            ciclo.promedio = promedio;
            return promedio;
          },
          calcularPromedioAcumulado: function () {
            this.consolidado.ciclos.forEach((ciclo) =>
              ciclo.cursos.forEach(
                (curso) => (curso.promedio = this.calcularPromedioCurso(curso))
              )
            );
            cursos = this.consolidado.ciclos
              .filter((ciclo) => ciclo.estado === "CERRADO")
              .flatMap((ciclo) => ciclo.cursos)
              .filter((curso) => curso.estado === "CERRADO");
            a = cursos.reduce(
              (acc, val) => acc + val.promedio * val.creditos,
              0
            );
            b = cursos.reduce((acc, val) => acc + val.creditos, 0);
            promedio = Math.round((a / b + Number.EPSILON) * 100) / 100;
            this.consolidado.promedio = promedio;
          },
          seleccionarCiclo: function () {
            this.cicloActual = this.consolidado.ciclos.find(
              (ciclo) => ciclo.id == this.idCiclo
            );
          },
          mostrarInfo: function () {
            swal.fire({
              title: "El Promediador",
              html: `Hecho por y para alumnos de la UPC
                <br><br>
                Contacto y sugerencias a <a href="mailto:edarbieto@gmail.com">edarbieto@gmail.com</a>`,
              icon: "question",
              iconHtml: `<img
                    src="%% url_for('static', filename='img/logo.png') %%"
                    alt="logo"
                    width="50px"
                  />`,
            });
          },
          calcularPromedioAcumuladoActual: function () {
            cursos = this.consolidado.ciclos
              .filter((ciclo) => ciclo.estado !== "RETIRADO")
              .flatMap((ciclo) => ciclo.cursos)
              .filter((curso) => curso.estado !== "RETIRADO");
            a = cursos.reduce(
              (acc, val) => acc + val.promedio * val.creditos,
              0
            );
            b = cursos.reduce((acc, val) => acc + val.creditos, 0);
            promedio = Math.round((a / b + Number.EPSILON) * 100) / 100;
            return promedio;
          },
        },
      });
    </script>
  </body>
</html>
