{% extends 'base.html' %} {% block title %}
<title>El Promediador</title>
{% endblock %} {% block container %}
<div class="container py-5">
  <div class="row mb-4">
    <div class="col">
      <div class="text-light bg-danger p-3 rounded shadow">
        <h5 class="font-weight-bold" id="nombres">Nombres y apellidos</h5>
        <h6 class="font-weight-lighter" id="data">Ciclo actual y demas data</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="accordion shadow" id="accordionCursos">
        <div class="card">
          <div class="card-header">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseCurso1"
            >
              Curso 1
            </button>
          </div>
          <div
            class="collapse"
            id="collapseCurso1"
            data-parent="#accordionCursos"
          >
            <div class="card-body p-4">
              <div class="table-responsive">
                <table
                  class="table table-sm table-bordered"
                  style="font-size: 70%;"
                >
                  <thead class="thead-dark">
                    <tr>
                      <th>Tipo</th>
                      <th>Evaluación</th>
                      <th>N°</th>
                      <th>Peso</th>
                      <th>Nota</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>PC</td>
                      <td>PRACTICA CALIFICADA</td>
                      <td align="center">1</td>
                      <td align="center">25%</td>
                      <td align="center">18</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th colspan="4">Promedio</th>
                      <th align="center">18</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="font-weight-bold text-center">Resumen ciclo</h5>
          <div class="table-responsive">
            <table
              class="table table-sm table-bordered"
              style="font-size: 70%;"
            >
              <thead class="bg-primary text-white">
                <tr>
                  <th>Nombre</th>
                  <th>Créditos</th>
                  <th>Promedio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MEDICIÓN Y EVALUA DE PROC</td>
                  <td align="center">3</td>
                  <td align="center">18</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">Promedio ponderado</th>
                  <th align="center">18</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  let consolidado = {{ consolidado | tojson }}
</script>
{% endblock %}
